.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
              url('https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80') no-repeat center center/cover;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 70px;
  
 }

.hero-content {
  text-align: center;
  color: #ffffff;
  max-width: 700px;
  padding: 0 2rem;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #8FCF68; /* color2 */
}

.hero-subtitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: #A7BAAC; /* color4 */
}

.hero-cta {
  background-color: #48AECC; /* color1 */
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.hero-cta:hover {
  background-color: #3b9bb3;
}
